---
layout: ""
page_title: "Provider: Mullvad"
description: |-
  The WireGuard provider is used to handle WireGuard metadata.
---

# WireGuard Provider

The WireGuard provider is used to handle WireGuard metadata.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
